auto {{ kvm.net.bridge.name }}
iface {{ kvm.net.bridge.name }} inet static
    # Make sure bridge-utils is installed!
    bridge_ports {{ kvm.net.dummy.name }}
    bridge_stp on
    bridge_fd 2
    address {{ kvm.net.bridge.ip }}
    netmask {{ kvm.net.mask }}
