# Only bind to the virtual bridge. This avoids conflicts with other running
# dnsmasq instances.
except-interface=lo
interface={{ kvm_net.bridge.name }}
bind-dynamic

# IPv4 addresses to offer to VMs. This should match the chosen subnet.
dhcp-range={{ kvm_net.dhcp.first }},{{ kvm_net.dhcp.last }},1h

# Set this to at least the total number of addresses in DHCP-enabled subnets.
dhcp-lease-max=200

# File to write DHCP lease information to.
dhcp-leasefile=/var/lib/libvirt/dnsmasq/{{ kvm_net.bridge.name }}.leases

# File to read DHCP host information from.
dhcp-hostsfile=/var/lib/libvirt/dnsmasq/{{ kvm_net.bridge.name }}.hostsfile

# Avoid problems with old or broken clients.
dhcp-no-override

# https://www.redhat.com/archives/libvir-list/2010-March/msg00038.html
strict-order
