auto {{ bridge.dummy.name }}
iface {{ bridge.dummy.name }} inet manual
    pre-up /sbin/ip link add {{ bridge.dummy.name }} type dummy
    up /sbin/ip link set {{ bridge.dummy.name }} address {{ bridge.dummy.mac }}
